<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
		 bootstrap="lib/Cake/Test/bootstrap.php"
		 backupGlobals="true"
		 colors="true">
	<php>
		<ini name="memory_limit" value="-1"/>
	</php>
	<listeners>
		<listener class="CakeFixtureInjector" file="./lib/Cake/TestSuite/Fixture/CakeFixtureInjector.php"/>
	</listeners>
</phpunit>
